@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  
}
.mobile body {
  overflow: hidden !important;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;

}

@layer base {
  li {
    @apply hover:border-b-2 border-black pb-1 cursor-pointer transition;
  }
}


